<!-- Start of Main Outer Div - Container Div  -->
<div class="container">

<div class="row">

  <!-- Start of Main Div - Maindiv Div -->
  <div class="maindiv col-sm-12">


    <!-- This Div is for Top Texts -->
    <div class="row">
      <div class="col-md-6">
        <p class="font-weight-bold pl-1 pt-2 pb-2 text-left subleft">Subscription pricing</p>
      </div>
      <div class="col-md-6 top-text2">
        <p class="font-weight-light pt-2 pb-2 subright text-right">Subscription and pricing > Subscription pricing</p>
      </div>
    </div>
    <!-- End of Top Texts Div -->


    <!-- Start of Main Inner Div - Primarydiv Div -->
    <div class="primarydiv border">


      <!-- Start of Country Outer Div - Country Div -->
      <div class="country mb-4">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-4">
            <div class="pl-3 pt-3 pb-0 countrytext">
              <label for="country">Country</label>
            </div>
            <!-- Start of Country Lists Div - Countrybar Div -->
            <div class="row ml-3 pt-3 pb-3 border countrybar">


              <div class="col-lg-6">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Singapore
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Taiwan
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                  <label class="form-check-label" for="flexRadioDefault3">
                    Malayasia
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                  <label class="form-check-label" for="flexRadioDefault4">
                    Country 4
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                  <label class="form-check-label" for="flexRadioDefault5">
                    Country 5
                  </label>
                </div>

              </div>


              <div class="col-lg-6">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                  <label class="form-check-label" for="flexRadioDefault6">
                    India
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7">
                  <label class="form-check-label" for="flexRadioDefault7">
                    Indonesia
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault8">
                  <label class="form-check-label" for="flexRadioDefault8">
                    Vietnam
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault9">
                  <label class="form-check-label" for="flexRadioDefault9">
                    Country 9
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault10">
                  <label class="form-check-label" for="flexRadioDefault10">
                    Country 10
                  </label>
                </div>

              </div>


            </div>
            <!-- End of Country Lists Div - Countrybar Div -->
          </div>
        </div>
      </div>
      <!-- End of Country Outer Div - Country Div -->



      <!-- Start of Main Subscription Pannel Outer Div - Subscription Div -->
      <div class="subscription">


        <!-- Start of Subscription Header Like Download Option,  Country Name Div - Subscription-Header Div -->
        <div class="subscription-header row m-0">

          <div class="col-md-5 pt-3">

            <div class="row">

              <div class="col-sm-6 pb-3">
                <i class="pi pi-download icon1 icon download"></i>
              </div>
              <div class="col-sm-6 pr-5">
                <p class="text-right countrytext icon"><u>INDIA</u></p>
              </div>

            </div>

          </div>


        </div>
        <!-- End of Subscription Header Like Download Option,  Country Name Div - Subscription-Header Div -->


        <!-- Start of Main Subscription Pannel (After Header) Outer Div - Subscriptionpannel Div -->
        <div class="subscriptionpannel row m-0 p-0">


          <!-- Start of Left Side Subscription Pannel Outer Div - Subscription-left Div -->
          <div class="subscription-left col-md-5">



            <!-- Start of Left Side Subscription Pannel Table Inner Div - Table1 Div -->
            <div class="table1">




              <table class="table">
                <thead class="removecolor">
                  <tr>
                    <th class="column1">
                      <p class="h6">Subscription</p>
                      <p class="h6">type</p>
                    </th>
                    <th>
                      <p class="h6">No. of</p>
                      <p class="h6">locations</p>
                    </th>
                    <th>
                      <p class="h6">No. of</p>
                      <p class="h6">sub&#8722;admins</p>
                    </th>
                    <th>
                      <p class="h6">Traial</p>
                      <p class="h6">class</p>
                    </th>
                    <th class="thpromotion">
                      <p class="h6">Promotions</p>
                      <p class="h6">module</p>
                    </th>
                    <th class="homepg">
                      <p class="h6">Homepage</p>
                      <p class="h6">banner</p>
                      <p class="h6">credit</p>
                      <p class="h6">(App/Web)</p>
                    </th>
                    <th>
                      <p class="h6">Homepage</p>
                      <p class="h6">Header</p>
                      <p class="h6">credit</p>
                      <p class="h6">(App/Web)</p>
                    </th>
                    <th>
                      <p class="h6">Reports</p>
                      <p class="h6">module</p>
                    </th>
                    <th>
                      <p class="h6">Reports</p>
                      <p class="h6">module</p>
                    </th>
                    <th>
                      <p class="h6">Reports</p>
                      <p class="h6">module</p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="td1">
                      <p class="h6">Basic</p>
                    </td>
                    <td class="td2">
                      <p class="h6">1</p>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="wrong"></fa-icon>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="wrong"></fa-icon>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="wrong"></fa-icon>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                  </tr>

                  <tr>
                    <td class="td1">
                      <p class="h6">Advanced</p>
                    </td>
                    <td class="td2">
                      <p class="h6">3</p>
                    </td>
                    <td class="td2">
                      <p class="h6">2</p>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="correct"></fa-icon>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="correct"></fa-icon>
                    </td>
                    <td class="td2">
                      <p class="h6">2</p>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="wrong"></fa-icon>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                  </tr>


                  <tr>
                    <td class="td1">
                      <p class="h6">Premium</p>
                    </td>
                    <td class="td2">
                      <p class="h6">8</p>
                    </td>
                    <td class="td2">
                      <p class="h6">4</p>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="correct"></fa-icon>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="correct"></fa-icon>
                    </td>
                    <td class="td2">
                      <p class="h6">4</p>
                    </td>
                    <td class="td2">
                      <p class="h6">1</p>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="correct"></fa-icon>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                  </tr>



                  <tr>
                    <td class="td1">
                      <p class="h6">Enterprise</p>
                    </td>
                    <td class="td2">
                      <p class="h6">20</p>
                    </td>
                    <td class="td2">
                      <p class="h6">10</p>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="correct"></fa-icon>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="correct"></fa-icon>
                    </td>
                    <td class="td2">
                      <p class="h6">10</p>
                    </td>
                    <td class="td2">
                      <p class="h6">2</p>
                    </td>
                    <td class="td3">
                      <fa-icon [icon]="correct"></fa-icon>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                    <td class="td2">
                      <p class="h6">&#45;</p>
                    </td>
                  </tr>





                  <tr>
                    <td class="td1">
                      <p class="h6">Enterprise</p>
                    </td>
                    <td><input class="form-control leftinput" type="number" min="1" value=20 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control leftinput" type="number" min="1" value=10  oninput="validity.valid||(value='');"></td>
                    <td>
                      <div class="select">
                        <select class="form-control select__field">
                          <option selected>&#xf00c;</option>
                          <option>&#xf00d;</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="select">
                        <select class="form-control select__field forpromotion">
                          <option selected>&#xf00c;</option>
                          <option>&#xf00d;</option>
                        </select>
                      </div>
                    </td>
                    <td><input class="form-control leftinput" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control leftinput" type="number" min="1" value=2 oninput="validity.valid||(value='');"></td>
                    <td>
                      <div class="select">
                        <select class="form-control select__field">
                          <option selected>&#xf00c;</option>
                          <option>&#xf00d;</option>
                        </select>
                      </div>
                    </td>
                    <td><input class="form-control leftinput" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control leftinput" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>

                  </tr>





                </tbody>
              </table>







            </div>
            <!-- End of Left Side Subscription Pannel Table Inner Div - Table1 Div -->




          </div>
          <!-- End of Left Side Subscription Pannel Outer Div - Subscription-left Div -->




          <!-- Start of Right Side Subscription Pannel Outer Div - Subscription-right Div -->
          <div class="subscription-right col-md-7">


            <!-- Start of Right Side Subscription Pannel Table Inner Div - Table2 Div -->
            <div class="table2">


              <table class="table">
                <thead>
                  <tr>
                    <th colspan="4" class="activities">
                      <p class="h6">No. of activities</p>
                    </th>
                    <th colspan="4" class="activities">
                      <p class="h6">Subscription per month (paid annually) &#8722; INR</p>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <p class="h6 th1">Day</p>
                      <p class="h6">Access</p>
                    </th>
                    <th>
                      <p class="h6">Fixed</p>
                      <p class="h6">Timing</p>
                    </th>
                    <th>
                      <p class="h6">Term</p>
                    </th>
                    <th>
                      <p class="h6">Open</p>
                    </th>
                    <th>
                      <p class="h6">Day</p>
                      <p class="h6">Access</p>
                    </th>
                    <th>
                      <p class="h6">Fixed</p>
                      <p class="h6">Timing</p>
                    </th>
                    <th>
                      <p class="h6">Term</p>
                    </th>
                    <th>
                      <p class="h6">Open</p>
                    </th>
                    <th colspan="3" class="button">
                      <button pButton type="button" class="p-button-secondary button" *ngIf="activeEdit"
                        (click)="toggleVisibility()" label="Edit"></button>
                      <button pButton type="button" class="p-button-success button" *ngIf="activeSaveAndCancel" label="Save"></button>
                      <button pButton type="button" class="p-button-danger button" *ngIf="activeSaveAndCancel"
                        (click)="cancelSaveMode()" label="Cancel"></button>
                    </th>
                </thead>
                <tbody>
                  <tr>
                    <td><input class="form-control rightinput" type="number" min="1" value="1" oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=1 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=1 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=1 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="text" value="-"></td>
                    <td><input class="form-control rightinput" type="text" value="-"></td>
                    <td><input class="form-control rightinput" type="text" value="-"></td>
                    <td><input class="form-control rightinput" type="text" value="-"></td>
                    <td></td>
                    <td>
                      <div class="form-check radio">
                        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault1">
                      </div>
                    </td>
                    <td></td>
                  </tr>

                  <tr>
                    <td><input class="form-control rightinput" type="number" min="1" value=5 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=3 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=6 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=3 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>
                    <td></td>
                    <td>
                      <div class="form-check radio">
                        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2">
                      </div>
                    </td>
                    <td></td>
                  </tr>


                  <tr>
                    <td><input class="form-control rightinput" type="number" min="1" value=8 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=5 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=5 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=20 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=20 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=20 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=20 oninput="validity.valid||(value='');"></td>
                    <td></td>
                    <td>
                      <div class="form-check radio">
                        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault3">
                      </div>
                    </td>
                    <td></td>
                  </tr>



                  <tr>
                    <td><input class="form-control rightinput" type="number" min="1" value=16 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=20 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=35 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=35 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=35 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput" type="number" min="1" value=35 oninput="validity.valid||(value='');"></td>
                    <td></td>
                    <td>
                      <div class="form-check radio">
                        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault4">
                      </div>
                    </td>
                    <td></td>
                  </tr>

                  <tr>
                    <td><input class="form-control rightinput inputcolor" type="number" min="1" value=16 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput inputcolor" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput inputcolor" type="number" min="1" value=20 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput inputcolor" type="number" min="1" value=10 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput inputcolor" type="number" min="1" value=35 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput inputcolor" type="number" min="1" value=35 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput inputcolor" type="number" min="1" value=35 oninput="validity.valid||(value='');"></td>
                    <td><input class="form-control rightinput inputcolor" type="number" min="1" value=35 oninput="validity.valid||(value='');"></td>
                    <td></td>
                    <td>
                      <div class="form-check radio">
                        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault5"
                          checked>
                      </div>
                    </td>
                    <td></td>
                  </tr>


                </tbody>
              </table>





            </div>
            <!-- Start of Right Side Subscription Pannel Table Inner Div - Table2 Div -->



          </div>
          <!-- End of Right Side Subscription Pannel Outer Div - Subscription-right Div -->




        </div>
        <!-- End of Main Subscription Pannel (After Header) Outer Div - Subscriptionpannel Div -->


      </div>
      <!-- End of Main Subscription Pannel Outer Div - Subscription Div -->



    </div>
    <!-- End of Main Inner Div - Primarydiv Div -->


  </div>
  <!-- End of Main Div - Maindiv Div -->


</div>

</div>
<!-- End of Main Outer Div - Container Div  -->