.tableOuter {
    .table {
        thead {
            width: 100%;
        }
        tbody {
            height: auto;
            td {
                padding-top: 2.2rem;
                padding-bottom: 2.2rem;
            }
        }
    }
}
