<div class="mainContent">
    <div class="colsOuter">
        <div class="row p-0 m-0">
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="upperSection">
                    <p>Cognition</p>
                </div>
                <div class="bottomSection imgOuter">
                    <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [multiple]="false" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                            <div class="label">
                                <i class="pi pi-image"></i>
                                <p>Click or drag file here to upload</p>
                                <p>(svg only)</p>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                            [file]="f" [removable]="true" (removed)="onRemove(f)">
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>