<div class="editContentsOuter" *ngIf="afterEditOpen">
    <div class="upperHead">
        <p class="m-0">Edit sub-admin</p>
    </div>
    <div class="draggabledata">
        <div class="categoryDataOuter">
            <div class="categoryDataInner">
                <p *ngFor="let admin of adminList" class="categoriesData"
                    [ngClass]="this.selectedAdminNames.includes(admin)?'disabledAdminList':''" pDraggable="admin"
                    (onDragStart)="dragStart($event,admin)"
                    [pDraggableDisabled]="this.selectedAdminNames.includes(admin)" (onDragEnd)="dragEnd($event)">
                    {{admin.name}}<span class="text-center" *ngIf="admin.status">{{admin.status}}</span>
                </p>
            </div>
        </div>
    </div>
</div>



<div class="mainOuter border">


    <div class="upperContent">
        <div class="leftContent">
            <div class="headerText">
                <p class="m-0">City-based permission rights</p>
            </div>
            <img src="../../../../../assets/categoryStatistics/Download_Icon.svg" alt="" *ngIf="beforeEdit">
        </div>
        <div class="middleContent" *ngIf="afterEditOpen">
            <p class="m-0"><u>{{selectedPermissionType.locationName}}</u></p>
        </div>
        <div class="rightSideButton">
            <button pButton pRipple type="button" [disabled]="!selectedPermissionType" label="Add/Edit"
                [ngClass]="!selectedPermissionType?'p-button-secondary':'p-button-success'" *ngIf="beforeEdit"
                (click)="showEdit()"></button>
            <div class="saveCancelButtons" *ngIf="afterEditOpen">
                <button pButton pRipple type="button" label="Save" class="p-button-success"></button>
                <button pButton pRipple type="button" label="Cancel" class="ml-2 p-button-danger"
                    (click)="cancelEdit()"></button>
            </div>
        </div>
    </div>


    <div class="mainBodyOuter">


        <div class="mainTableOuter table-responsive text-nowrap" *ngIf="beforeEdit">
            <table class="table table-bordered">
                <thead class="forBG">
                    <tr>
                        <th scope="col">

                        </th>
                        <th scope="col" *ngFor="let location of locationList">
                            <div class="radioTH radioOuter">
                                <div class="radio-item">
                                    <input type="radio" id="{{'country'+location.locationID}}"
                                        name="{{'country'+location.locationID}}" [value]="location"
                                        [(ngModel)]="selectedPermissionType">
                                    <label for="{{'country'+location.locationID}}">{{location.locationName}}</label>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let department of cityBasedInfo">
                        <td class="categoryTD fixedColumn">
                            <div class="categoryBody border">
                                <div class="upperHead border-bottom">
                                    <p class="m-0">{{department.deptName}}</p>
                                </div>
                                <div class="mainBodyData">
                                    <p class="categories" *ngFor="let tag of department.tags">{{tag.tagName}}</p>
                                </div>
                            </div>
                        </td>


                        <td class="categoryDataOuter" *ngFor="let location of department.locations">
                            <div class="categoryDataInner">
                                <p class="categoriesData" *ngFor="let name of location.names">{{name.personName}}</p>
                            </div>
                        </td>


                    </tr>

                </tbody>
            </table>
        </div>


        <div class="mainTableOuter table-responsive text-nowrap afterEditOpenTable" *ngIf="afterEditOpen">
            <table class="table table-borderless">
                <tbody>

                    <tr *ngFor="let dept of editCityBasedInfo">
                        <td class="categoryTD fixedColumn">
                            <div class="categoryBody border">
                                <div class="upperHead border-bottom">
                                    <p class="m-0">{{dept.deptName}}</p>
                                </div>
                                <div class="mainBodyData">
                                    <p class="categories" *ngFor="let tag of dept.tags">{{tag.tagName}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="categoryDataOuter forDragTextPosition border">
                            <div class="categoryDataInner drop" pDroppable="admin" (onDrop)="drop($event)">
                                <ng-container *ngIf="selectedAdminNames?.length===0">
                                    <div class="indicatingText">
                                        <p class="m-0-text-center">Drag & drop here</p>
                                    </div>
                                </ng-container>
                                <div *ngFor="let admin of selectedAdminNames" class="dropInner">
                                    <p class="categoriesData">{{admin.name}}<span
                                            *ngIf="admin?.status">{{admin.status}}</span></p>
                                    <div class="closeIcon" (click)="removeItem(admin)">X</div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


    </div>



</div>