<div class="userTabNav">
    <div class="mainOuter">
        <div class="fornav d-flex">
            <a routerLink="vendors" routerLinkActive='active'>
                <div class="nav-item">
                    <P class="formargin">Vendors</P>
                </div>
            </a>
            <a routerLink="users" routerLinkActive='active'>
                <div class="nav-item">
                    <P class="formargin">Users</P>
                </div>
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>