@import "../../SCSS/CommonDesigns/commonDesigns.scss";
@import "../../SCSS/PrimeNG/primeNGDesign";

$blackColor: #333333;
$orangeColor: #faa559;
$whiteColor: #fff;
$redColor: #e95656;
$bodyBG: #f0f0f0;
$blackColor: #333333;
$whiteColor: #fff;
$blueColor: #396aff;
$tealColor: #05cfab;
$disabledColor: #bdbdbd;
$nevyBlueColor: #2c3581;
$blackColor2: #484848;
$orangeColor: #faa559;
$tdTitle1Color: #333;
$tdTitle2Color: #4f4f4f;
$redColor: #e95656;
$greenColor: #6fcf97;
$greyBG: #e0e0e0;
$overlayColor: #efefef;
$upperHeadBGcolor: #deffec;

@mixin customDialogClass($height) {
    mat-dialog-container {
        padding: 0;
        margin: 0;
        border-radius: 0.5rem;
        @media screen and (min-height: 1081px) {
            position: absolute;
            left: calc(50% - 18.5rem);
            top: 40rem;
            width: 37rem;
            height: $height;
            overflow: hidden;
        }
    }
}

.actualOuter {
    width: 37rem;
    padding-bottom: 1rem;
    .upperTitle {
        height: 4.7rem;
        @include displayFlex(center, center);
        background-color: $upperHeadBGcolor;
        .titleBox {
            padding-left: 2.25rem;
            p {
                @include forParaTag($blackColor2, 1.5rem, 500);
            }
        }
    }

    .bodySection {
        padding: 3.5rem 4rem 2.5rem 4rem;
        .textSection {
            margin-bottom: 1.5rem;
            p {
                @include forParaTag($blackColor, 1.4rem, 500);
            }
        }

        .buttonSection {
            @include displayFlex(center, center);
            padding: 2.5rem 0 0 0;
            button {
                width: 8.7rem;
                &:not(:last-child) {
                    margin-right: 3rem;
                }
            }
            @include buttonDesign(1.4rem, 500, 0.5rem, 0rem, 0.2rem, 0.5rem);
            .p-button-success {
                @include classWisebuttonDesign($greenColor, $greenColor, $whiteColor, $greenColor);
            }
            .p-button-black {
                @include classWisebuttonDesign($whiteColor, $blackColor, $blackColor, $blackColor);
            }
        }
    }
}

::ng-deep .deleteSearchWordsModal {
    @include customDialogClass(22rem);
}
