<div class="mainOuterTop">

  <!-- Top Header Starts..... -->
  <div class="topHeader">
    <div class="outer">
      <div class="row">
        <div class="col-sm-6 blank">
        </div>
        <div class="col-sm-6 searchOuter p-0">
          <div class="search ml-5">
            <i class="pi pi-search" [ngClass]="searchInput?'searchColor':'searchColor2'"></i>
            <input type="text" pInputText [(ngModel)]="searchInput">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Header Ends..... -->
</div>



<div class="mainOuter border">

  <!-- UpperBody Starts..... -->

  <div class="upperBody">
    <div class="outer container">
      <div class="row">
        <div class="col-xl-6 body1">
          <div class="innerBody1Outer">
            <div class="inner2">
              <div class="row">
                <div class="col-sm-6 dropdown1">
                  <p-dropdown [options]="countryList" [(ngModel)]="selectedCountry" placeholder="Country"
                    optionLabel="name" [showClear]="false">
                  </p-dropdown>
                </div>
                <div class="col-sm-6 dropdown2" *ngIf="selectedCountry?.cities?.length > 0">
                  <p-dropdown [options]="selectedCountry?.cities" [(ngModel)]="selectedCity" placeholder="City"
                    optionLabel="name" [showClear]="false" (onChange)="onCityChange()">
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="inner3 d-flex justify-content-center">
              <button class="icon icon-button" (click)="selectedCountry || selectedCity ?  getData() : ''"
                [ngClass]="!selectedCountry && !selectedCity ? 'change-cursor' : ''"
                [disabled]="!selectedCountry && !selectedCity">
                <i class="pi pi-youtube" [ngClass]="!selectedCountry && !selectedCity ? 'change-cursor' : ''"></i>
              </button>
              <div class="button">
                <button pButton pRipple type="button" (click)="reset()" label="Reset"
                  class="p-button-outlined p-button-success"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- UpperBody Ends..... -->






  <!-- Table Starts..... -->
  <div class="tableOuter mt-3 table-responsive">
    <table class="table table-borderless text-center">
      <thead class="forBG">
        <tr class="border-bottom">
          <th scope="col" class="text-left">
            User name / User ID
            <br>
            Review date
          </th>
          <th scope="col" class="text-left">
            Date
            <br>
            Time
          </th>
          <th scope="col">
            Country
          </th>
          <th scope="col">
            City
          </th>
          <th scope="col" class="feedback">
            &nbsp;
            <br>
            Feedback
          </th>
        </tr>
      </thead>
      <tbody *ngIf="feedBackList?.length > 0 else noDataView" #tableView>
        <tr class="border-bottom"
          *ngFor="let userData of feedBackList; trackBy: trackByService.trackByFn; let i = index">
          <td scope="row" class="text-left">
            <div class="title1">
              <p>
                {{userData?.first_name}} {{userData?.last_name}}
              </p>
            </div>
            <div class="title5">
              <p>
                {{userData?.code}}

              </p>
            </div>
            <div class="title2">
              <p>
                {{userData?.email}}
              </p>
            </div>
          </td>
          <td scope="row" class="text-left">
            <div class="title5">
              <p>
                {{userData?.created | date: 'dd MMM YYYY'}}
              </p>
            </div>
            <div class="title5">
              <p>
                {{userData?.created_at | date: 'h:mm'}}
                hrs
              </p>
            </div>
          </td>
          <td scope="row">
            <div class="title5">
              <p>
                {{userData?.country}}

              </p>
            </div>
          </td>
          <td scope="row">
            <div class="title5">
              <p>
                {{userData?.city}}
              </p>
            </div>
          </td>
          <td scope="row" class="feedback border extraPadding">
            <div class="title6">
              <p>
                {{userData?.feedback}}
              </p>
            </div>
          </td>
        </tr>
      </tbody>

      <ng-template #noDataView>
        <app-no-table-data-view></app-no-table-data-view>
      </ng-template>
    </table>
  </div>
  <!-- Table Ends...... -->

  <!-- Pagination Starts...... -->
  <div *ngIf="feedBackList?.length > 0">
    <app-pagination (onPagechanged)="pageChangeEvent()" [paginationService]="paginationService">
    </app-pagination>
  </div>
  <!-- Pagination Ends...... -->
</div>