@import "../../../../../../SCSS/CommonDesigns/commonDesigns.scss";
@import "../../../../../../SCSS/ActivityReports/normalCalendarAndHourCalendarCommonDesign";

$whiteColor: #fff;
$greenColor: #6fcf97;
$blackColor: #000;
$disabledColor: #bdbdbd;
$scrollThumbColor: #e7e7e7;

.textAndSelectOuter {
  .textSection {
    p {
      @include forParaTag($greenColor, 1.4rem, 600);
    }
  }
}

// Calendar View Starts

.mainCalendarSectionOuter {
  .calendarWeekName {
    .dateWeekOuter {
      width: calc(100% - 5rem) !important;
      @include displayFlex(space-between, center);
    }
    .dateWeekInner {
      @include displayFlex(space-between, center);
      width: 100%;
      padding: 0 2.5rem 0 1.9rem;
      font-size: 1.2rem;
      font-family: Nunito;
    }

    .eyeIcon {
      @include displayFlex(center, center);
      width: 100%;
      img {
        width: 3.7rem;
        cursor: pointer;
      }
    }
  }

  .forHourView {
    width: 5rem;
  }

  .viewText {
    height: 2.2rem;
    p {
      @include forParaTag($greenColor, 1.2rem, 600);
    }
  }
  .hourText {
    height: 12rem;
    @include displayFlex(space-between, stretch);
    .hours {
      width: 3.5rem;
      p {
        margin: -0.85rem 0 0 0;
        @include forParaTag($blackColor, 1.2rem, 500);
      }
    }
    .hourDividers {
      width: calc(100% - 3.5rem);
      .divider {
        height: 3.05rem;
        margin-top: 0.05rem;
        position: relative;
        // border-bottom: solid red 0.1rem;
        hr {
          // display: none;
          position: absolute;
          right: -0.3rem;
          // top: 50%;
          bottom: -0rem;
          // transform: translateY(50%);
          width: 100%;
          margin: 0;
        }
        .smallHR {
          width: 70%;
        }
      }
    }
  }
  .mainCalendarOuter {
    margin: 0 -0.27rem !important;
    padding: 0 0.27rem;
    @include displayFlex(center, center);
    .mainCalendarOuterStart {
      width: calc(100% - 5rem) !important;
      @include displayFlex(center, center);
    }
    .mainCalendarInner {
      height: 12rem;
      margin: 0 0.27rem;
      border: solid 0.1rem $scrollThumbColor;
      .innerDividers {
        height: 3rem;
        &:not(:first-child) {
          border-top: solid 0.1rem $scrollThumbColor;
        }
      }
    }
  }
}


.enrollDetails {
  width: 100%;
  height: 100%;
  background-color: $greenColor;
  @include displayFlex(center, center);
  p {
    @include forParaTag($whiteColor, 1.2rem, 500);
  }
}

.previousNextIconForWeek {
  width: 17rem;
  @include displayFlex(space-between, center);
  margin: 3rem auto 0 auto;
  p {
    @include forParaTag($blackColor, 1.4rem, 700);
  }
  i {
    @include forParaTag($greenColor, 3.5rem, 500);
    cursor: pointer;
  }
}
