<!-- Start of Main Outer Div - Container-Fulid Div  -->
<div class="container-fluid row">

  <!-- Start of Main Div - Maindiv Div -->
  <div class="maindiv col-sm-12">


    <!-- This Div is for Top Texts -->
    <div class="row">
      <div class="col-md-6">
        <p class="font-weight-bold pl-1 pt-2 pb-2 text-left subleft">Price and settings - Marketing</p>
      </div>
      <div class="col-md-6 pr-0 mr-0">
        <p class="font-weight-light pt-2 pb-2 pr-0 mr-0 subright text-right">Subscription and pricing > Price and
          settings - Marketing</p>
      </div>
    </div>
    <!-- End of Top Texts Div -->


    <!-- Start of Main Inner Div - Primarydiv Div -->
    <div class="primarydiv border">


      <!-- Start of Country Outer Div - Country Div -->
      <div class="country mb-4">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-4">
            <div class="pl-3 pt-3 pb-0 countrytext">
              <label for="country">Country</label>
            </div>
            <!-- Start of Country Lists Div - Countrybar Div -->
            <div class="row ml-3 pt-3 pb-3 border countrybar">


              <div class="col-lg-6">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Singapore
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Taiwan
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                  <label class="form-check-label" for="flexRadioDefault3">
                    Malayasia
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                  <label class="form-check-label" for="flexRadioDefault4">
                    Country 4
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                  <label class="form-check-label" for="flexRadioDefault5">
                    Country 5
                  </label>
                </div>

              </div>


              <div class="col-lg-6">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" checked>
                  <label class="form-check-label" for="flexRadioDefault6">
                    India
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7">
                  <label class="form-check-label" for="flexRadioDefault7">
                    Indonesia
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault8">
                  <label class="form-check-label" for="flexRadioDefault8">
                    Vietnam
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault9">
                  <label class="form-check-label" for="flexRadioDefault9">
                    Country 9
                  </label>
                </div>
                <div class="form-check pt-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault10">
                  <label class="form-check-label" for="flexRadioDefault10">
                    Country 10
                  </label>
                </div>

              </div>


            </div>
            <!-- End of Country Lists Div - Countrybar Div -->
          </div>

          <div class="col-xl-3 col-lg-4 col-md-4">
            <div class="pl-3 pt-3 pb-0 countrytext">
              <label for="country">City</label>
            </div>
            <!-- Start of Country Lists Div - Countrybar ForCity Div -->
            <div class="row ml-3 pt-2 pb-2 border countrybar forcity">


              <div class="col-lg-6">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="city" id="city1">
                  <label class="form-check-label" for="city1">
                    Bangalore
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city2">
                  <label class="form-check-label" for="city2">
                    Hyderabad
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city3">
                  <label class="form-check-label" for="city3">
                    Mumbai
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city4">
                  <label class="form-check-label" for="city4">
                    New Delhi
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city5">
                  <label class="form-check-label" for="city5">
                    City 5
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city6">
                  <label class="form-check-label" for="city6">
                    City 6
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city7">
                  <label class="form-check-label" for="city7">
                    City 7
                  </label>
                </div>

              </div>


              <div class="col-lg-6">

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="city" id="city8">
                  <label class="form-check-label" for="city8">
                    Chennai
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city9">
                  <label class="form-check-label" for="city9">
                    Kolkata
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city10">
                  <label class="form-check-label" for="city10">
                    Nagpur
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city11" checked>
                  <label class="form-check-label" for="city11">
                    Pune
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city12">
                  <label class="form-check-label" for="city12">
                    City 12
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city13">
                  <label class="form-check-label" for="city13">
                    City 13
                  </label>
                </div>
                <div class="form-check pt-1">
                  <input class="form-check-input" type="radio" name="city" id="city14">
                  <label class="form-check-label" for="city14">
                    City 14
                  </label>
                </div>

              </div>


            </div>
            <!-- End of Country Lists Div - Countrybar ForCity Div -->
          </div>








        </div>
      </div>
      <!-- End of Country Outer Div - Country Div -->


















      <div class="mainmarketing">
        <div class="fornav d-flex">
          <a routerLink = "settings" routerLinkActive='active'>
            <div class="nav-item">
              <P class="formargin">Settings</P>
            </div>
          </a>
          <a routerLink="banner" routerLinkActive='active'>
            <div class="nav-item">
              <P class="formargin">Banner</P>
            </div>
          </a>
          <a routerLink="homepage-header" routerLinkActive='active'>
            <div class="nav-item">
              <P class="formargin1">Homepage Header</P>
            </div>
          </a>
          <a routerLink="trending-activity" routerLinkActive='active'>
            <div class="nav-item">
              <P class="formargin1">Trending Activity</P>
            </div>
          </a>
          <a routerLink="search-words" routerLinkActive='active'>
            <div class="nav-item">
              <P class="formargin">Search Words</P>
            </div>
          </a>
        </div>


        <div class="fornavmenus">
          <router-outlet></router-outlet>
        </div>


      </div>


















    </div>
    <!-- End of Main Inner Div - Primarydiv Div -->


  </div>
  <!-- End of Main Div - Maindiv Div -->


</div>
<!-- End of Main Outer Div - Container-Fulid Div  -->