<div class="mainOuter border">

    <div class="titleHead forAdd">
        <p class="m-0 text-center">Add Sub-admin</p>
    </div>

    <div class="mainBody">

        <div class="innerForm">

            <div class="row formContentOuter">

                <div class="col-12">
                    <div class="formContent">
                        <p class="m-0">Email</p>
                        <input type="text" pInputText />
                    </div>
                </div>

            </div>

            <div class="formContent">
                <p class="m-0">Notes</p>
                <textarea pInputTextarea maxlength="100" #notesInput [(ngModel)]="notesInputTyping"
                    class="customTextArea"></textarea>
                <div class="letterCounting">
                    <p class="m-0 text-right"
                        [ngClass]="[notesInput.value.length == 100? 'maxlengthColor' : '' || notesInputTyping?'notesInputTyping':'']">
                        {{notesInput.value.length}} / 100</p>
                </div>
            </div>

        </div>

        <div class="innerButton">
            <button pButton pRipple type="button" label="Add" class="p-button-success"></button>
            <button pButton pRipple type="button" label="Cancel" class="p-button-warning" routerLink="/sub-admin"></button>
        </div>

    </div>

    <div class="forBottomBG"></div>

</div>