<div class="actualOuter">



    <div class="upperTitle">
        <div class="titleBox">
            <p class="text-center m-0" mat-dialog-title>{{data.title}}</p>
        </div>
        <!-- <div class="close">
            <p (click)="onDismiss()" class="close m-0 text-center">X</p>
        </div> -->
    </div>




    <div class="bodySection">

        <div class="upperText" *ngIf="data.subjectSection">
            <div class="forText">
                <p class="m-0">Subject:</p>
            </div>
            <div class="forSubject">
                <p class="m-0">A warm welcome to parents of the Swimming Class 101</p>
            </div>
        </div>

        <div class="scrollingBoduOuter border">
            <div class="scrollingBody">
                <div class="sections">
                    <p class="m-0">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                        piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                        McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
                        obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                        word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
                        1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                        Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
                        the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
                        line in section 1.10.32.
                    </p>
                </div>
                <div class="sections">
                    <p class="m-0">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also
                        reproduced in their exact original form, accompanied by English versions from the 1914
                        translation by H. Rackham. </p>
                </div>
                <div class="sections">
                    <p class="m-0">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also
                        reproduced in their exact original form, accompanied by English versions from the 1914
                        translation by H. Rackham. </p>
                </div>
                <div class="sections">
                    <p class="m-0">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                        interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also
                        reproduced in their exact original form, accompanied by English versions from the 1914
                        translation by H. Rackham. </p>
                </div>
            </div>
        </div>

    </div>
</div>