<div class="OuterMain">
    <div class="button">
        <button pButton pRipple type="button" label="Back" class="p-button-warning" routerLink="../coupons"></button>
        <p>Coupon redemption details</p>
    </div>
</div>


<div class="mainOuter border">

    <div class="upperContent">
        <div class="innerUpper">
            <div class="row">
                <div class="col-md-5 forAlign">
                    <p>City</p>
                    <input type="text" value="Singapore" disabled pInputText />
                </div>
                <div class="col-md-3 forPadding">
                    <p>Discount</p>
                    <input type="text" value="4%" disabled pInputText />
                </div>
                <div class="col-md-4">
                    <p>Redeemed / available</p>
                    <input type="text" value="14 / 35" disabled pInputText />
                </div>
            </div>
        </div>
    </div>


    <!-- Table Starts..... -->
    <div class="tableOuter mt-3 table-responsive border-top">
        <table class="table table-borderless text-center">
            <thead class="forBG">
                <tr class="border-bottom">
                    <th scope="col" class="text-left forNo">
                        No.
                    </th>
                    <th scope="col" class="text-left">
                        Vendor name
                        <br>
                        Vendor code
                    </th>
                    <th scope="col">
                        Subscription
                        <br>
                        type
                    </th>
                    <th scope="col">
                        Subscription
                        <br>
                        date
                    </th>
                    <th scope="col">
                        Transaction
                        <br>
                        reference no.
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-bottom">
                    <td scope="row" class="text-left forNo">
                        <div class="title0">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title1">
                            <p>
                                Berries World of Learning
                            </p>
                        </div>
                        <div class="title2">
                            <p>
                                7AC
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title3">
                            <p>
                                Advanced
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>27/03/21</p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>123456A</p>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="text-left forNo">
                        <div class="title0">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title1">
                            <p>
                                Berries World of Learning
                            </p>
                        </div>
                        <div class="title2">
                            <p>
                                7AC
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title3">
                            <p>
                                Advanced
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>27/03/21</p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>123456A</p>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="text-left forNo">
                        <div class="title0">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title1">
                            <p>
                                Berries World of Learning
                            </p>
                        </div>
                        <div class="title2">
                            <p>
                                7AC
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title3">
                            <p>
                                Advanced
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>27/03/21</p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>123456A</p>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="text-left forNo">
                        <div class="title0">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title1">
                            <p>
                                Berries World of Learning
                            </p>
                        </div>
                        <div class="title2">
                            <p>
                                7AC
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title3">
                            <p>
                                Advanced
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>27/03/21</p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>123456A</p>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="text-left forNo">
                        <div class="title0">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title1">
                            <p>
                                Berries World of Learning
                            </p>
                        </div>
                        <div class="title2">
                            <p>
                                7AC
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title3">
                            <p>
                                Advanced
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>27/03/21</p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>123456A</p>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="text-left forNo">
                        <div class="title0">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title1">
                            <p>
                                Berries World of Learning
                            </p>
                        </div>
                        <div class="title2">
                            <p>
                                7AC
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title3">
                            <p>
                                Advanced
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>27/03/21</p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>123456A</p>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="text-left forNo">
                        <div class="title0">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title1">
                            <p>
                                Berries World of Learning
                            </p>
                        </div>
                        <div class="title2">
                            <p>
                                7AC
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title3">
                            <p>
                                Advanced
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>27/03/21</p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>123456A</p>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="text-left forNo">
                        <div class="title0">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title1">
                            <p>
                                Berries World of Learning
                            </p>
                        </div>
                        <div class="title2">
                            <p>
                                7AC
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title3">
                            <p>
                                Advanced
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>27/03/21</p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>123456A</p>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="text-left forNo">
                        <div class="title0">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title1">
                            <p>
                                Berries World of Learning
                            </p>
                        </div>
                        <div class="title2">
                            <p>
                                7AC
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title3">
                            <p>
                                Advanced
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>27/03/21</p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>123456A</p>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="text-left forNo">
                        <div class="title0">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title1">
                            <p>
                                Berries World of Learning
                            </p>
                        </div>
                        <div class="title2">
                            <p>
                                7AC
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title3">
                            <p>
                                Advanced
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>27/03/21</p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>123456A</p>
                        </div>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="text-left forNo">
                        <div class="title0">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title1">
                            <p>
                                Berries World of Learning
                            </p>
                        </div>
                        <div class="title2">
                            <p>
                                7AC
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title3">
                            <p>
                                Advanced
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>27/03/21</p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>123456A</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Table Ends...... -->


    <!-- Pagination Starts...... -->

    <div class="paginationOuter">
        <div class="row">
            <div class="col-sm-6">
                <div class="rowsOuter">
                    <p>Rows per page:</p>
                    <div class="selectNoOfRow select">

                        <select class="form-control select__field" aria-label="Default select example">
                            <option selected value="1">10</option>
                            <option value="2">20</option>
                            <option value="3">30</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="pagesOuter">
                    <p>1 of 6</p>
                    <div class="iconPrevious">
                        <a href="#">
                            <img src="../../../assets/Pagination/Vector1.svg" alt="">
                        </a>
                    </div>
                    <div class="iconNext">
                        <a href="#">
                            <img src="../../../assets/Pagination/Vector2.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination Ends...... -->
</div>