@import "../../SCSS/CommonDesigns/commonDesigns.scss";

$disabledColor: #bdbdbd;
$blackColor: #333333;

.sortingTab {
    @include displayFlex(space-between, center);
    .links {
        padding: 0 1rem;
        width: min-content;
        white-space: nowrap;
        @include forParaTag($disabledColor, 1.4rem, 500);
        cursor: pointer;
    }
    .activeTab {
        border-bottom: solid 0.1rem $blackColor;
        p {
            color: $blackColor;
            font-weight: 700;
        }
    }
}
