   <!-- Table Starts..... -->
<div class="tableOuter mt-5 table-responsive text-nowrap" *ngIf="dateList && dateList?.length > 0">
    <table class="table table-borderless text-center">
        <thead class="forBG">
            <tr>
                <th scope="col" class="iconTH" (click)="previous()">
                    <div class="leftHead" >
                        <img src="../../../../assets/BannerHomePage/next-prev.svg" alt="">
                    </div>
                </th>
                <ng-container *ngFor="let header of dateList">
                    <th scope="col" class="dateHeadTH">
                        <div class="dateHead">
                            <p>{{header.date | date : 'dd MMM yyyy'}}</p>
                        </div>
                    </th>
                </ng-container>
                <th scope="col" class="iconTH" (click)="next()">
                    <div class="rightHead">
                        <img src="../../../../assets/BannerHomePage/next-prev.svg" alt="">
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of headerList">
                <td scope="row" class="iconTD">

                </td>

                <td scope="row" class="mainDataTD">
                    <ng-container *ngTemplateOutlet="headertd; context: { headerId: item?.header1?.id, headerData: item?.header1?.headerData, date: item?.header1?.date }"></ng-container>
                </td>
                <td scope="row" class="mainDataTD">
                    <ng-container *ngTemplateOutlet="headertd; context: { headerId: item?.header2?.id, headerData: item?.header2?.headerData, date: item?.header2?.date }"></ng-container>

                </td>
                <td scope="row" class="mainDataTD">
                    <ng-container *ngTemplateOutlet="headertd; context: { headerId: item?.header3?.id, headerData: item?.header3?.headerData, date: item?.header3?.date }"></ng-container>
                </td>
                <td scope="row" class="mainDataTD">
                    <ng-container *ngTemplateOutlet="headertd; context: { headerId: item?.header4?.id, headerData: item?.header4?.headerData, date: item?.header4?.date }"></ng-container>

                </td>
                <td scope="row" class="mainDataTD">
                    <ng-container *ngTemplateOutlet="headertd; context: { headerId: item?.header5?.id, headerData: item?.header5?.headerData, date: item?.header5?.date }"></ng-container>

                </td>
                <td scope="row" class="iconTD">

                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Table Ends...... -->

<ng-template #headertd let-headerData="headerData" let-headerId="headerId" let-date="date" >
    <div class="mainData">
        <div class="forEllipse" [hidden]="isNew || isEdit">
            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span><i class="pi pi-ellipsis-v"></i></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <ng-container *ngIf="headerData?.text else new">
                        <a class="dropdown-item itemEdit" (click)="editClick(headerId, headerData?.text)">Edit</a>
                        <a class="dropdown-item itemDelete" (click)="confirmDelete(headerData?.id)">Delete</a>
                    </ng-container>
                    <ng-template #new>
                        <a class="dropdown-item itemEdit" (click)="newClick(headerId)">New</a>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="colBody">
            <div class="editSection" *ngIf="(isNew || isEdit) && selectedId === headerId">
                <div class="closeIcon">
                    <i class="pi pi-times" (click)="closeEditSectionfn()"></i>
                </div>
                <button class="tickIcon tickIconbtn" (click)="addEditHeader(date, headerData?.id)">
                    <i class="pi pi-check"></i>
                </button>
            </div>
            <div class="colBody" [hidden]="(isNew || isEdit) && selectedId === headerId">
                <p>{{headerData?.text}}</p>
            </div>
            <div class="colBodyTextarea" *ngIf="(isNew || isEdit) && selectedId === headerId">
                <textarea [(ngModel)]='colbodyData' maxlength="150"></textarea>
            </div>
        </div>
    </div>
</ng-template>