<div class="mainOuter border">


    <div class="mainRadioInner">
        <div class="radioOuter1">
            <div class="upperRadioDivOuter">
                <p>Select platform</p>
                <div class="radioInner">
                    <div class="row colOuter">
                        <div class="col-6 p-0">
                            <div class="forRadio">
                                <div class="radio-item">
                                    <input type="radio" id="platform1" name="platform" value="platform1">
                                    <label for="platform1">Web</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 p-0">
                            <div class="forRadio">
                                <div class="radio-item">
                                    <input type="radio" id="platform2" name="platform" value="platform2">
                                    <label for="platform2">App</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="radioOuter2">
            <div class="upperRadioDivOuter">
                <p>Select city</p>
                <div class="radioInner">
                    <div class="row colOuter">
                        <div class="col-lg-3 col-sm-6">
                            <div class="leftRadio">
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country1" name="country" value="country1">
                                        <label for="country1">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country2" name="country" value="country2">
                                        <label for="country2">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country3" name="country" value="country3">
                                        <label for="country3">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country4" name="country" value="country4">
                                        <label for="country4">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country5" name="country" value="country5">
                                        <label for="country5">A Country</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="rightRadio">
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country6" name="country" value="country6">
                                        <label for="country6">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country7" name="country" value="country7">
                                        <label for="country7">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country8" name="country" value="country8">
                                        <label for="country8">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country9" name="country" value="country9">
                                        <label for="country9">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country10" name="country" value="country10">
                                        <label for="country10">A Country</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="leftRadio">
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country11" name="country" value="country11">
                                        <label for="country11">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country12" name="country" value="country12">
                                        <label for="country12">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country13" name="country" value="country13">
                                        <label for="country13">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country14" name="country" value="country14">
                                        <label for="country14">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country15" name="country" value="country15">
                                        <label for="country15">A Country</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="rightRadio">
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country16" name="country" value="country16">
                                        <label for="country16">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country17" name="country" value="country17">
                                        <label for="country17">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country18" name="country" value="country18">
                                        <label for="country18">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country19" name="country" value="country19">
                                        <label for="country19">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country20" name="country" value="country20">
                                        <label for="country20">A Country</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tabs border-bottom">
        <div class="tabLinks">
            <a routerLink="/banners-vendor" routerLinkActive="activeRouter">Vendor</a>
        </div>
        <div class="tabLinks">
            <a routerLink="/banners-super-admin" routerLinkActive="activeRouter">Super Admin</a>
        </div>
    </div>


    <!-- Table Starts..... -->
    <div class="tableOuter mt-5 table-responsive text-nowrap">
        <table class="table table-borderless text-center">
            <thead class="forBG">
                <tr>
                    <th scope="col" class="iconTH">
                        <div class="leftHead">
                            <img src="../../../../assets/BannerHomePage/next-prev.svg" alt="">
                        </div>
                    </th>
                    <th scope="col" class="dateHeadTH">
                        <div class="dateHead">
                            <p>23 Apr 2021</p>
                        </div>
                    </th>
                    <th scope="col" class="dateHeadTH">
                        <div class="dateHead">
                            <p>23 Apr 2021</p>
                        </div>
                    </th>
                    <th scope="col" class="dateHeadTH">
                        <div class="dateHead">
                            <p>23 Apr 2021</p>
                        </div>
                    </th>
                    <th scope="col" class="dateHeadTH">
                        <div class="dateHead">
                            <p>23 Apr 2021</p>
                        </div>
                    </th>
                    <th scope="col" class="dateHeadTH">
                        <div class="dateHead">
                            <p>23 Apr 2021</p>
                        </div>
                    </th>
                    <th scope="col" class="iconTH">
                        <div class="rightHead">
                            <img src="../../../../assets/BannerHomePage/next-prev.svg" alt="">
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" class="iconTD">

                    </td>
                    <td scope="row" class="mainDataTD">
                        <div class="mainData">
                            <div class="forEllipse">
                                <div class="statusOuter">

                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span><i class="pi pi-ellipsis-v"></i></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="javaScript:;" (click)="onRemove()">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="imgMainBody">
                                <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [disableClick]="files.length>0"
                                    (change)="onSelect($event)" [multiple]="false">
                                    <ngx-dropzone-label *ngIf="files?.length===0">
                                        <div class="label">
                                            <i class="pi pi-image"></i>
                                            <p>Click or drag file here to upload</p>
                                            <p>(jpg/png only)</p>
                                        </div>
                                    </ngx-dropzone-label>
                                    <img *ngIf="files?.length>0" [src]="croppedImage" class="img-fluid"
                                        data-toggle="modal" data-target="#zoomImgModal" />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="iconTD">

                    </td>
                </tr>
                <tr>
                    <td scope="row" class="iconTD">

                    </td>
                    <td scope="row" class="mainDataTD">
                        <div class="mainData">
                            <div class="forEllipse">
                                <div class="statusOuter">

                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span><i class="pi pi-ellipsis-v"></i></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="javaScript:;" (click)="onRemove()">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="imgMainBody">
                                <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [disableClick]="files.length>0"
                                    (change)="onSelect($event)" [multiple]="false">
                                    <ngx-dropzone-label *ngIf="files?.length===0">
                                        <div class="label">
                                            <i class="pi pi-image"></i>
                                            <p>Click or drag file here to upload</p>
                                            <p>(jpg/png only)</p>
                                        </div>
                                    </ngx-dropzone-label>
                                    <img *ngIf="files?.length>0" [src]="croppedImage" class="img-fluid"
                                        data-toggle="modal" data-target="#zoomImgModal" />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="iconTD">

                    </td>
                </tr>
                <tr>
                    <td scope="row" class="iconTD">

                    </td>
                    <td scope="row" class="mainDataTD">
                        <div class="mainData">
                            <div class="forEllipse">
                                <div class="statusOuter">

                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span><i class="pi pi-ellipsis-v"></i></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="javaScript:;" (click)="onRemove()">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="imgMainBody">
                                <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [disableClick]="files.length>0"
                                    (change)="onSelect($event)" [multiple]="false">
                                    <ngx-dropzone-label *ngIf="files?.length===0">
                                        <div class="label">
                                            <i class="pi pi-image"></i>
                                            <p>Click or drag file here to upload</p>
                                            <p>(jpg/png only)</p>
                                        </div>
                                    </ngx-dropzone-label>
                                    <img *ngIf="files?.length>0" [src]="croppedImage" class="img-fluid"
                                        data-toggle="modal" data-target="#zoomImgModal" />
                                </div>
                            </div>
                        </div>
                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="mainDataTD">

                    </td>
                    <td scope="row" class="iconTD">

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Table Ends...... -->
</div>


<div class="modal" id="zoomImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-body p-0 m-0" data-dismiss="modal">
                <img [src]="croppedImage" class="mx-auto d-block w-100" data-dismiss="modal">
            </div>
        </div>
    </div>
</div>


<div [style.display]="triggerCropper ? 'block' : 'none'" class="modal cropModal" id="exampleModal" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <div class="headSection">
                <div class="text">
                    <p>Crop Image</p>
                </div>
                <div class="close" data-dismiss="modal" (click)="closeCropImage()">
                    <p>X</p>
                </div>
            </div>
            <div class="modal-body">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                    [aspectRatio]="2 / 1" [resizeToWidth]="1000" [onlyScaleDown]="true" [roundCropper]="false"
                    format="png" (imageCropped)="imageCropped($event)" (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>
            <div class="buttonSection">
                <button pButton pRipple type="button" label="Crop" class="p-button-success"
                    (click)="cropImage()"></button>
                <button pButton pRipple type="button" label="Cancel" class="p-button-warning" data-dismiss="modal"
                    (click)="closeCropImage()"></button>
            </div>
        </div>
    </div>
</div>