@import "../../SCSS/Pagination/paginationDesign";
@import "../../SCSS/Table/tableDesign";
@import "../../SCSS/PrimeNG/primeNGDesign";
@import "../../SCSS/UserManagement/userManagementTopHeaderTabDesign";
@import "../../SCSS/Revenue/revenueUpperBody";
@import "../../SCSS/MainOuter/mainOuterDesign";
@import "../../SCSS/CommonDesigns/commonDesigns.scss";
@import "~pretty-checkbox/src/pretty-checkbox.scss";

$whiteColor: #fff;
$redColor: #e95656;
$greenButtonColor: #4dc5af;
$tdTitle1Color: #4e4e4e;
$tdTitle2Color: #4f4f4f;
$addIconColor: #6fcf97;
$blueButtonColor: #396aff;

@mixin iconDesign($iconBGColor) {
    i {
        border-radius: 100%;
        background-color: $iconBGColor;
        cursor: pointer;
        padding: 0.3rem;
        @include forParaTag($whiteColor, 1.1rem, 500);
    }
}

.mainOuter {
    .addCuppon {
        margin: 3rem 0 1rem 1.5rem;
        @include buttonDesign(1.4rem, 500, 00.5rem, 1.7rem, 0.2rem, 0.7rem);
        .p-button-success {
            @include classWisebuttonDesign($greenButtonColor, $greenButtonColor, $whiteColor, $greenButtonColor);
        }
    }

    .tableOuter {
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        .table {
            tbody {
                tr {
                    td {
                        .title1 {
                            @include tableData(1.35rem, $tdTitle1Color, 600);
                            p {
                                line-height: 2;
                                word-spacing: 0.7rem;
                            }
                        }
                        .title2 {
                            @include tableData(1.3rem, $tdTitle2Color, 700);
                        }
                    }
                }
            }
        }

        .forNo {
            width: 17rem !important;
            @media (max-width: 1400px) {
                width: 7rem !important;
                padding-right: 1.5rem !important;
            }
            padding-right: 5rem !important;
        }
        .ellipsisTH,
        .ellipsisTD {
            width: 5rem;
            .dropdown-menu {
                margin-top: -0.5rem !important;
            }
        }

        th,
        td {
            padding: 1.35rem 2rem;
            @media (max-width: 1500px) {
                width: 24rem;
            }
        }

        //   Table Ends........
    }
}

.forEdit {
    width: 30rem !important;
    .forButton {
        padding: 0 5rem 0 1rem;
        @include displayFlex(space-between, stretch);
        button {
            width: 8.7rem;
        }
        @include buttonDesign(1.4rem, 500, 0.5rem, 0rem, 0.2rem, 0.5rem);
        .p-button-success {
            @include classWisebuttonDesign($greenButtonColor, $greenButtonColor, $whiteColor, $greenButtonColor);
        }
        .whiteButton {
            @include classWisebuttonDesign(auto, $redColor, $redColor, $redColor);
        }
        .p-button-help {
            @include classWisebuttonDesign($blueButtonColor, $blueButtonColor, $whiteColor, $blueButtonColor);
        }
    }
}

.forEditTD {
    .inputCheckOuter {
        @include displayFlex(space-between, center);
        margin: 0.8rem 0;
        .inputBox {
            width: 100%;
        }
        .check {
            padding: 0 0.8rem;
        }

        .closeIcon {
            width: 3rem;
            @include displayFlex(flex-end, center);
            @include iconDesign($redColor);
        }
    }

    .decreaseInputWidth {
        .inputBox {
            width: calc(100% - 3rem);
        }
    }

    .addIcon {
        margin-top: 1rem;
        margin-right: 3rem;
        @include iconDesign($addIconColor);
    }
}

.category {
    input {
        text-align: left;
        @include forParaTag($tdTitle1Color, 1.3rem, 600);
    }
}

.subCategory,
.forNoTR {
    input {
        text-align: center;
        @include forParaTag($tdTitle2Color, 1.25rem, 600);
    }
}

.disable-input {
    background-color: #E7E7E7;
    color: #828282;
}