@import "../../SCSS/MainOuter/mainOuterDesign";
@import "../../SCSS/TabNavBar/tabNavDesign";

.mainOuter {
    margin: 3rem 1.5rem 0 1.5rem;
}

.nav-item {
    background-color: $normalTabBorderColor;
    width: 14.7rem;
    @media (max-width: 457px) {
        width: 10rem;
    }
    @media (max-width: 347px) {
        width: 8rem !important;
    }
}

.srcWrd{
    white-space: nowrap;
    @media (max-width: 347px) {
        width: 9.7rem !important;
    }
}