@import "../../SCSS/CommonDesigns/commonDesigns.scss";

$customDropZoneHoverColor: rgb(233, 230, 230);
$blackColor: #333333;

.custom-dropzone {
    height: 100% !important;
    width: 100% !important;
    border: none;
    overflow: hidden !important;
    border-radius: 0;
    position: relative;
    ngx-dropzone-label {
        z-index: 6;

        .label {
            z-index: 100 !important;
            padding: 0 1.3rem;
            i {
                font-size: 1.67rem;
                margin-bottom: 0.7rem;
            }
            p {
                @include forParaTag(lighten($blackColor, 7%), 1.15rem, 600);
                margin: 0;
            }
        }
    }
}

.ngx-dz-hovered {
    background-color: $customDropZoneHoverColor;
    border: 0.2rem solid darken($customDropZoneHoverColor, 15%);
}

:host ::ng-deep ngx-dropzone-remove-badge {
    position: absolute !important;
}

:host ::ng-deep ngx-dropzone-image-preview {
    position: absolute !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 0.35rem !important;
    img {
        opacity: 1 !important;
        box-shadow: none !important;
        width: 100%;
        border-radius: 0 !important;
        transition: transform .2s;
        &:hover{
            transform: scale(1.5);
        }
    }
}
