<div class="userTabNav">
    <div class="mainOuter">
        <div class="fornav d-flex">
            <a routerLink="personal-details" routerLinkActive='active'>
                <div class="nav-item">
                    <P class="formargin">Personal details</P>
                </div>
            </a>
            <a routerLink="personal-settings" routerLinkActive='active'>
                <div class="nav-item">
                    <P class="formargin">Password settings</P>
                </div>
            </a>
        </div>
    </div>
    <div class="fornavmenus">
        <router-outlet></router-outlet>
    </div>
</div>