<div class="mainOuter border">




    <div class="mainRadioInner">
        <div class="radioOuter1">
            <div class="upperRadioDivOuter">
                <p>Select platform</p>
                <div class="radioInner">
                    <div class="row colOuter">
                        <div class="col-6 p-0">
                            <div class="forRadio">
                                <div class="radio-item">
                                    <input type="radio" id="platform1" name="platform" value="platform1">
                                    <label for="platform1">Web</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 p-0">
                            <div class="forRadio">
                                <div class="radio-item">
                                    <input type="radio" id="platform2" name="platform" value="platform2">
                                    <label for="platform2">App</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="radioOuter3">
            <div class="upperRadioDivOuter">
                <p>Banner category</p>
                <div class="radioInner">
                    <div class="row colOuter">
                        <div class="col-sm-6">
                            <div class="leftRadio">
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="category1" name="category" value="category1">
                                        <label for="category1">A category</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="category2" name="category" value="category2">
                                        <label for="category2">A category</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="category3" name="category" value="category3">
                                        <label for="category3">A category</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="category4" name="category" value="category4">
                                        <label for="category4">A category</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="category5" name="category" value="category5">
                                        <label for="category5">A category</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="rightRadio">
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="category6" name="category" value="category6">
                                        <label for="category6">A category</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="category7" name="category" value="category7">
                                        <label for="category7">A category</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="category8" name="category" value="category8">
                                        <label for="category8">A category</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="category9" name="category" value="category9">
                                        <label for="category9">A category</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="category10" name="category" value="category10">
                                        <label for="category10">A category</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="radioOuter2">
            <div class="upperRadioDivOuter">
                <p>Select city</p>
                <div class="radioInner">
                    <div class="row colOuter">
                        <div class="col-sm-4">
                            <div class="leftRadio">
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country1" name="country" value="country1">
                                        <label for="country1">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country2" name="country" value="country2">
                                        <label for="country2">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country3" name="country" value="country3">
                                        <label for="country3">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country4" name="country" value="country4">
                                        <label for="country4">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country5" name="country" value="country5">
                                        <label for="country5">A Country</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="rightRadio">
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country6" name="country" value="country6">
                                        <label for="country6">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country7" name="country" value="country7">
                                        <label for="country7">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country8" name="country" value="country8">
                                        <label for="country8">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country9" name="country" value="country9">
                                        <label for="country9">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country10" name="country" value="country10">
                                        <label for="country10">A Country</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="leftRadio">
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country11" name="country" value="country11">
                                        <label for="country11">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country12" name="country" value="country12">
                                        <label for="country12">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country13" name="country" value="country13">
                                        <label for="country13">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country14" name="country" value="country14">
                                        <label for="country14">A Country</label>
                                    </div>
                                </div>
                                <div class="forRadio">
                                    <div class="radio-item">
                                        <input type="radio" id="country15" name="country" value="country15">
                                        <label for="country15">A Country</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
























































    <div class="tabs border-bottom">
        <div class="tabLinks">
            <a routerLink="vendor" routerLinkActive="activeRouter">Vendor</a>
        </div>
        <div class="tabLinks">
            <a routerLink="super-admin" routerLinkActive="activeRouter">Super Admin</a>
        </div>
    </div>
    <div class="mainInner">
        <router-outlet></router-outlet>
    </div>
</div>