<div class="container">

    <div class="row mt-5">
        <div class="col-4">
            <button pButton type="button" class="p-button-success" label="Subscription Ok" (click)="okConfirm()"></button>
        </div>
        <div class="col-4">
            <button pButton type="button" class="p-button-warning" label="Custom Subscription" (click)="callCustomSubscription()"></button>
        </div>
        <div class="col-4">
            <button pButton type="button" class="p-button-danger" label="Custom Subscription 2" (click)="callCustomSubscription2()"></button>
        </div>
    </div>

</div>


