<div class="mainContent">

    <div class="tableOuter table-responsive text-nowrap">
        <table class="table table-borderless text-center">
            <thead class="forBG">
                <tr>
                    <th scope="col" class="noCol">
                        No.
                    </th>
                    <th scope="col" class="text-left vendorNameCol">
                        Vendor name
                        <br>
                        Vendor code
                    </th>
                    <th scope="col" class="text-left">
                        Receipt date/time
                    </th>
                    <th scope="col">
                        Receipt no.
                    </th>
                    <th scope="col">
                        City
                    </th>
                    <th scope="col">
                        Amount
                    </th>
                    <th scope="col">
                        VAT
                    </th>
                    <th scope="col">
                        Total
                    </th>
                    <th scope="col">
                        Order
                        <br>
                        ID
                    </th>
                    <th scope="col" class="transactionCol">
                        Transaction
                        <br>
                        ID
                    </th>
                    <th scope="col" class="checkBoxCol">
                    </th>
                </tr>
            </thead>
            <tbody class="border-top">

                <tr class="border-bottom">
                    <td scope="row" class="noCol">
                        <div class="title1">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left vendorNameCol">
                        <div class="title1">
                            <p>
                                Berries World of Learning & Ap..
                            </p>
                            <p>
                                SG-4TC
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title2">
                            <p>
                                13 Dec 2021
                            </p>
                            <p>
                                1401 hrs
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                SG-12345678
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                Singapore
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                123456789
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="transactionCol">
                        <div class="title2">
                            <p>
                                12345678901222
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="checkBoxCol">
                        <p-checkbox name="groupname" value=""></p-checkbox>
                    </td>
                </tr>


                <tr class="border-bottom">
                    <td scope="row" class="noCol">
                        <div class="title1">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left vendorNameCol">
                        <div class="title1">
                            <p>
                                Berries World of Learning & Ap..
                            </p>
                            <p>
                                SG-4TC
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title2">
                            <p>
                                13 Dec 2021
                            </p>
                            <p>
                                1401 hrs
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                SG-12345678
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                Singapore
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                123456789
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="transactionCol">
                        <div class="title2">
                            <p>
                                12345678901222
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="checkBoxCol">
                        <p-checkbox name="groupname" value=""></p-checkbox>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="noCol">
                        <div class="title1">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left vendorNameCol">
                        <div class="title1">
                            <p>
                                Berries World of Learning & Ap..
                            </p>
                            <p>
                                SG-4TC
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title2">
                            <p>
                                13 Dec 2021
                            </p>
                            <p>
                                1401 hrs
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                SG-12345678
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                Singapore
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                123456789
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="transactionCol">
                        <div class="title2">
                            <p>
                                12345678901222
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="checkBoxCol">
                        <p-checkbox name="groupname" value=""></p-checkbox>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="noCol">
                        <div class="title1">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left vendorNameCol">
                        <div class="title1">
                            <p>
                                Berries World of Learning & Ap..
                            </p>
                            <p>
                                SG-4TC
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title2">
                            <p>
                                13 Dec 2021
                            </p>
                            <p>
                                1401 hrs
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                SG-12345678
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                Singapore
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                123456789
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="transactionCol">
                        <div class="title2">
                            <p>
                                12345678901222
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="checkBoxCol">
                        <p-checkbox name="groupname" value=""></p-checkbox>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="noCol">
                        <div class="title1">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left vendorNameCol">
                        <div class="title1">
                            <p>
                                Berries World of Learning & Ap..
                            </p>
                            <p>
                                SG-4TC
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title2">
                            <p>
                                13 Dec 2021
                            </p>
                            <p>
                                1401 hrs
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                SG-12345678
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                Singapore
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                123456789
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="transactionCol">
                        <div class="title2">
                            <p>
                                12345678901222
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="checkBoxCol">
                        <p-checkbox name="groupname" value=""></p-checkbox>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="noCol">
                        <div class="title1">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left vendorNameCol">
                        <div class="title1">
                            <p>
                                Berries World of Learning & Ap..
                            </p>
                            <p>
                                SG-4TC
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title2">
                            <p>
                                13 Dec 2021
                            </p>
                            <p>
                                1401 hrs
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                SG-12345678
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                Singapore
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                123456789
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="transactionCol">
                        <div class="title2">
                            <p>
                                12345678901222
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="checkBoxCol">
                        <p-checkbox name="groupname" value=""></p-checkbox>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="noCol">
                        <div class="title1">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left vendorNameCol">
                        <div class="title1">
                            <p>
                                Berries World of Learning & Ap..
                            </p>
                            <p>
                                SG-4TC
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title2">
                            <p>
                                13 Dec 2021
                            </p>
                            <p>
                                1401 hrs
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                SG-12345678
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                Singapore
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                123456789
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="transactionCol">
                        <div class="title2">
                            <p>
                                12345678901222
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="checkBoxCol">
                        <p-checkbox name="groupname" value=""></p-checkbox>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="noCol">
                        <div class="title1">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left vendorNameCol">
                        <div class="title1">
                            <p>
                                Berries World of Learning & Ap..
                            </p>
                            <p>
                                SG-4TC
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title2">
                            <p>
                                13 Dec 2021
                            </p>
                            <p>
                                1401 hrs
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                SG-12345678
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                Singapore
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                123456789
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="transactionCol">
                        <div class="title2">
                            <p>
                                12345678901222
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="checkBoxCol">
                        <p-checkbox name="groupname" value=""></p-checkbox>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td scope="row" class="noCol">
                        <div class="title1">
                            <p>
                                1
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left vendorNameCol">
                        <div class="title1">
                            <p>
                                Berries World of Learning & Ap..
                            </p>
                            <p>
                                SG-4TC
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="text-left">
                        <div class="title2">
                            <p>
                                13 Dec 2021
                            </p>
                            <p>
                                1401 hrs
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                SG-12345678
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                Singapore
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                100
                            </p>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="title2">
                            <p>
                                123456789
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="transactionCol">
                        <div class="title2">
                            <p>
                                12345678901222
                            </p>
                        </div>
                    </td>
                    <td scope="row" class="checkBoxCol">
                        <p-checkbox name="groupname" value=""></p-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>